@model HangFire.Mailer.Models.Comment


When the emailService.Send method throws an exception, HangFire will retry it automatically after a delay (that is increased with each attempt). The retry attempt count is limited (10 by default), but you can increase it. Just apply the AutomaticRetryAttribute to the NotifyNewComment method:

[AutomaticRetry(20)]
public static void NotifyNewComment(int commentId)
{
    /* ... */
}




<h2>Leave comment</h2>

@using (Html.BeginForm("Create", "Home"))
{
    Html.EnableClientValidation();
    
    @Html.ValidationSummary(true)

    <div class="form-group">
        @Html.LabelFor(model => model.UserName)
        @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.UserName)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Text)
        @Html.TextAreaFor(model => model.Text, new { @class = "form-control", style = "min-height: 100px;" })
        @Html.ValidationMessageFor(model => model.Text)
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
}